.Nvbr {
  background: -webkit-linear-gradient(90deg, #d57fe0 0%, #05abe0 100%);
  background: linear-gradient(90deg, #d57fe0 0%,#05abe0 100%);  
} 

.NvBrnd {
  color: white!important;
  font-family: 'Baloo Tammudu', cursive;
  font-size: 25px!important;
  padding-bottom: 0px!important;
}